@import "../../sass/abstracts/_mixins.scss";
@import "../../sass/abstracts/_varaibles.scss";
.chart{
    flex: 4;
    @include drop-shadow;
    padding: 1rem;
    color: $color-grey-dark;

    .title{
        margin-bottom: 2rem;
    }

    .chartGrid{
        stroke: $color-grey-light;
    }
    
}