@import "../../sass/abstracts/_mixins.scss";
@import "../../sass/abstracts/_varaibles.scss";
.home{
    background-color: transparent;
    display: flex;
    font-size: 1.6rem;

    .homeContainer{
        background-color: transparent;
        flex: 9;
    }

    .widgets, .charts{
        display: flex;
        padding: 2rem;
        gap: 2rem;
        
    }
    .charts{
        padding: 0.5rem 2rem;
    }
    .listContainer{
            @include drop-shadow;
            padding: 2rem;
            margin: 2rem;

    .listTitle{
        font-weight: 500;
        color: $color-grey-dark;
        margin-bottom: 1.5rem;

    }
    }
}